<div class="login">
    <div class="col-6 col-lg-4" id="login">
        <h1 class="m-0 text-center">Log In</h1>
        <form class="justify-center justify-space-between-md align-center" id="login-form">
            <div>
                <label for="">Username</label>
                <input name="username" id="username" placeholder="Enter username" value=""
                    class="form-input w-100"></input>
            </div>
            <div>
                <label for="">Password</label>
                <input name="password" id="password" placeholder="Enter password" value="" class="form-input w-100" />
            </div>
            <div class="container flex-row justify-space-between-lg justify-center align-center">
                <a href="/signup">Create Account</a>
                <button class="btn btn-danger btn-block py-3" type="submit">
                    SUBMIT
                </button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>