<div class="signup">
    <div class="col-8 col-lg-6" id="login">
        <h1 class="m-0 text-center"> Create your Account </h1>
        <form class="justify-center justify-space-between-md align-center" id="login-form">
            <div>
                <label for="">First Name</label>
                <input name="firstname" id="firstname" placeholder="First name" value=""
                    class="form-input w-45"></input>
                <label for="">Last Name</label>
                <input name="lastname" id="lastname" placeholder="Last name" value=""
                    class="form-input w-45"></input>
            </div>
            <div>
                <label for="">Email</label>
                <input name="username" id="username" placeholder="Enter email. This will be your username" value=""
                    class="form-input w-100"></input>
            </div>
            <div>
                <label for="">Password</label>
                <input name="password" id="password" placeholder="Create password (min. 8 char)" value="" class="form-input w-100" />
            </div>
            <div class="container flex-row justify-space-between-lg justify-center align-center">
                <a class="py-3 w-30" href="/login"> Sign In </a>
                <button class="btn btn-danger btn-block py-3 w-50" type="submit">
                    SUBMIT
                </button>
            </div>
        </form>
    </div>
</div>

<script src="./js/signUp.js"></script>